<html>
    <body>
        <p>You are about to delete: </p>
        <ul>
            <li><%= @question.question %></li>
            <li><%= @question.answer %></li>
            <li><%= @question.flag %></li>
        </ul>
        <br>
        <form action="/questions/delete" method="post">
            <input type="submit" text="Delete">
        </form>
            
    </body>
</html>