<%# Verification page for deletion of a contact; render contact info and form submission to verify delete %>

<p>You are about to delete</p>
<%= @contact.first_name %> <%= @contact.last_name %>

<p>and all associated data. Are you sure?</p>

<form action="/contacts/delete?id=<%= @contact.id%>" method="post">
    <input type="hidden" name="id" value=<% @contact.id %>>
    <input type="submit" text="Delete">
</form>

<a href="/contacts">Cancel</a>