<div>
    <form action="/courses" method="post">
         <input type="text" name="name" placeholder="Course Name">
         <input type="text" name="location" placeholder="Location">
         <textarea name="description">Description</textarea>
         <input type="submit" value="Submit">
     </form>
 </div>